/* Root variables for colors */
:root {
  --primary-color: #004466;
  --secondary-color: #ffcc00;
  --accent-color: #ffaa00;
  --background-color: #f4f4f4;
  --text-color: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Message styles */
#visit-message {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  text-align: center;
  margin: 20px 0;
}

/* Cards Container */
.cards-grid {
  padding: 5rem;
  column-gap: 3rem;
}
/* Card Styles */
.card {
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 8px;
  overflow: hidden;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-areas: 
    "image title"
    "image description"
    "image address"
    "image button";
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

.card-title {
  grid-area: title;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.card-image {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-description {
  grid-area: description;
  font-size: 1rem;
  color: var(--text-color);
}

.card-address {
  grid-area: address;
  font-size: 0.9rem;
  color: var(--text-color);
}

.card-button {
  grid-area: button;
  background-color: var(--accent-color);
  color: var(--background-color);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: var(--secondary-color);
}

/* Media Queries for Responsive Layout */
@media only screen and (min-width: 38rem) {
  /* Medium screens: 2 cards in a row */
  .card {
  grid-template-areas: 
    "image title"
    "image description"
    "image address"
    "image button";
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}
}

@media only screen and (min-width: 64rem) {
  /* Large screens: Only 3 cards in a row */
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Limit to 3 cards per row */
  }
}
