/* Medium Screens */
@media (min-width: 641px) {
    .discover-container {
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
            "sidebar items";
    }

    #items-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}