:root {
    --heading-color: white;
    --text-color: #000080;
    --background-color: #D3D3D3;
    --button-color: #FFDB58;
    --button-hover-color: lightblue;
    --block-header-footer-color: black;
}

.content {
    margin: 0px auto;
    padding: 10px;
    max-width: 960px;
    text-align: center;
    border: 1px solid var(--block-header-footer-color);
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.header {
    background-color: var(--block-header-footer-color);
    color: var(--heading-color);
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.profile-pic {
    border-radius: 8px;
    width: 80px;
    height: 100px;
}